/* ---------------- Styling main_grid ---------------- */
main {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 90px 1fr 2fr 3fr;
  grid-template-areas:
    "headline headline headline"
    "article1 article2 image"
    "article3 article4 image"
    "article5 article6 image";
}

.headline {
  grid-area: headline;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.article1 {
  grid-area: article1;
}
.article2 {
  grid-area: article2;
}
.article3 {
  grid-area: article3;
}
.article4 {
  grid-area: article4;
}
.article5 {
  grid-area: article5;
}
.article6 {
  grid-area: article6;
}

.image {
  grid-area: image;
}

.image img {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  width: 90%;
}

.image p {
  font-style: italic;
  font-size: 1vw;
}

.text {
  margin: 10px;
}

.text h3 {
  font-size: 1.5vw;
}
.text p {
  font-size: 1.2vw;
}
