/* root */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont.ttf");
}

@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-VariableFont.ttf");
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-VariableFont.ttf");
}

:root {
  font-size: 100%;
  --font_int: "Inter";
  --font_wsa: "WorkSans";
  --font_lor: "Lora";
  --color_wh: #fff;
  --color_bl: #000;
  --size_small: 1rem;
  --size_steak_medium: 2rem;
  --size_medium: 5rem;
  --size_big: 6rem;
}

body {
  font-family: "WorkSans", Arial, Helvetica, sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
  color: white;
}

/* Header */

header {
  background-color: var(--color_bl);
  color: var(--color_wh);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5rem;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  font-size: var(--size_big);
  line-height: 0.8;
}

header h1:first-of-type {
  font-family: var(--font_int);
}

.hollow {
  color: var(--color_bl);
  text-shadow: 2px 2px 0 #ffff, 2px -2px 0 #ffff, -2px 2px 0 #ffff, -2px -2px 0 #ffff, 2px 0px 0 #ffff, 0px 2px 0 #ffff,
    -2px 0px 0 #ffff, 0px -2px 0 #ffff;
  /* text-shadow generator css: https://html-css-js.com/css/generator/text-shadow/  */
}

/* .hollow {
  -webkit-text-stroke: 3px white;
  color: transparent;
} */

header p {
  font-size: var(--size_small);
  margin: 1.5rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.rsvp {
  border: 1px solid var(--color_wh);
  padding: 15px 50px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rsvp:hover {
  background-color: var(--color_wh);
  color: var(--color_bl);
}

#californiaSection,
#goldenBearSection,
#spinningLogo,
footer {
  background-color: var(--color_bl);
  color: var(--color_wh);
  width: 100%;
}

#californiaSection,
#goldenBearSection,
#spinningLogo {
  padding: 5rem 0 5rem 5rem;
}

#middleSection,
#poppyBearSection {
  background-color: var(--color_wh);
  color: var(--color_bl);
  width: 100%;
}

/* #californiaSection */

#californiaSection {
  display: flex;
  flex-direction: column;
}

#californiaSecondHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#californiaSection div:first-of-type {
  padding-right: 8rem;
}

#californiaSection div h2,
.big {
  font-family: var(--font_int);
  font-size: var(--size_big);
  font-weight: bold;
  padding-right: 5rem;
}

.californiaList ul {
  list-style: none;
}

.californiaList li {
  text-decoration: none;
  margin-bottom: 1rem;
}

.californiaList {
  margin-top: 10rem;
}

/* #Overlapping image */

section {
  position: relative;
}

.overlappingImg {
  margin-top: -50px;
  margin-bottom: -50px;
  position: absolute;
  z-index: 1;
}

.firstOverlappingImg {
  right: 5rem;
}

.secondOverlappingImg {
  right: 20rem;
}

.thirdOverlappingImg {
  position: absolute;
  left: 5rem;
  top: 60%;
  display: flex;
  align-items: center;
}

.overlappingBear1 {
  position: relative;
}

.overlappingBear2 {
  position: absolute;
  left: 40rem;
  z-index: 2;
}

/* #middleSection */

#middleSection {
  margin-top: 10rem;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.middleSectionText {
  margin: 0 auto;
  width: 30%;
}

h2 {
  font-size: var(--size_medium);
  font-family: var(--font_int);
}

.middleSectionText p {
  font-size: var(--size_small);
  line-height: 2;
}

.middleImg {
  display: flex;
}

.imgLeft {
  justify-content: flex-start;
}

.imgRight {
  justify-content: flex-end;
}

.imgOneLeft {
  margin-left: 5rem;
}

.imgThreeLeft {
  margin-left: 10rem;
}

.imgFourRight {
  margin-right: 10rem;
}

.samHeight {
  display: flex;
  flex-direction: row;
}

/* #goldenBearSection */
#goldenBearSection {
  margin-top: 10rem;
  padding: 5rem;
  padding-bottom: 20rem;
}

.headerGoldenBear {
  padding-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerGoldenBear div {
  width: 40%;
  margin-bottom: 30rem;
}

.headerGoldenBear div p {
  margin-bottom: 2rem;
}

.headerGoldenBear div h4,
.headerGoldenBear div h2 {
  font-family: var(--font_int);
}

.headerGoldenBear div h4 {
  font-size: var(--size_steak_medium);
  margin-bottom: 2rem;
}

/* #spinningLogoSection */

#spinningLogoSection {
  position: relative;
  height: 10vh;
}

#spinningLogoSection img {
  position: absolute;
  animation: rotateLogo 10s linear infinite;
  z-index: -1;
  top: -8rem;
  right: -5rem;
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #poppyBearSection */
#poppyBearSection {
  z-index: 1;
  margin-top: 10rem;
  padding: 5rem;
}

.headerPoppyBear {
  padding-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerPoppyBear div {
  width: 40%;
  margin-bottom: 10rem;
}

.headerPoppyBear div p {
  margin-bottom: 2rem;
}

.headerPoppyBear div h4,
.headerPoppyBear div h2 {
  font-family: var(--font_int);
}

.headerPoppyBear div h4 {
  font-size: var(--size_steak_medium);
  margin-bottom: 2rem;
}

.poppyBearImages {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.poppyBearImg1 {
  position: absolute;
  z-index: 3;
  left: 3rem;
}

.poppyBearImg2 {
  position: relative;
  z-index: 2;
}

/* #footer */

footer {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem 5rem;
}

.footerTop,
.footerBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.footerBottom {
  margin-right: 10rem;
}

.footerTextLeft {
  margin-top: 10rem;
}

.footerTextLeft h4 {
  font-family: var(--font_int);
  font-size: var(--size_steak_medium);
  margin-bottom: 2rem;
  width: 60%;
  line-height: 1.4;
}

.footerTextLeft p {
  margin-bottom: 2rem;
}

.footerSocialMedia {
  line-height: 1.8;
}

/* #Animation footer */

.footerAnimation {
  position: relative;
}

/* Auto layout figma*/
.whiteStripe {
  display: flex;
  align-items: flex-start;
  padding: 16px 0px;

  position: absolute;
  width: 1200px;
  height: 102px;
  top: 0;
  right: -400px;
  /* right: -421.17px;
  top: -139.3px; */

  background: #ffffff;
  transform: rotate(45deg);
}

/* 2019 JUNE 21, 2019 JUNE */
.whiteStripe p {
  width: 1200px;
  height: 70px;

  font-family: var(--font_lor);
  font-weight: 600;
  font-size: 88px;
  line-height: 70px;

  /* border: 5px solid red; */
  color: #000;
  transform: rotate(360deg);

  animation: jump-pizza 3s linear infinite alternate;
}

@keyframes jump-pizza {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300px);
  }
}

.whiteStripe p span {
  -webkit-text-stroke: 1px black;
  color: transparent;
}
